 <div class='main-title'>
      <h1>Talk less feel more</h1>
      <p>
        "Melodies dance, emotions soar, rhythms connect; music, a universal language, transcends boundaries, unites souls, echoes feelings."
      </p>
    </div>